@import "common.scss";

#biography-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-line {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 100px;
  padding: 20px;
  background-color: $primary-background;
  width: 25%;
  border: $border 3px solid;
  border-radius: 10px;

  h2 {
    text-align: center;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: $highlight;
  }

  &.with-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
  }

  &.active {
    transition: transform 0.5s;
    transform: scale(1.2, 1.2);
  }
}

.biography-image {
  position: absolute;
  width: 100%;
  transition: opacity 0.5s;

  &.hidden {
    opacity: 0;
  }
}
