$primary:#2f3231;
$secondary: #ddc34b;
$light: #FDFBF7;

@import "node_modules/bootstrap/scss/bootstrap";

@import "section/Section.scss";
@import "header/Header.scss";
@import "home/Home.scss";
@import "biography/Biography.scss";
@import "header/Header.scss";
@import "animate/Animate.scss";
@import "graphics/Path.scss";
@import "common/Card.scss";