$headings-font-family:Lato;

$primary:#1a936f;
$secondary:#c6dabf;
$success:#88d498;
$danger:#703B3B;
$warning:#fec100;
$light:#f3e9d2;
$dark:#114b5f;
$spacer:1rem;
$border-width:1px;

@import "node_modules/bootstrap/scss/bootstrap";